<!DOCTYPE html>
<html lang="en">
<head>


<!-- basic needs -->
  <meta charset="utf-8">
  <title>Hanneybadger</title>
  <meta name="description" content="">
  <meta name="author" content="">

<!-- mobile specific metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- font -->
<link href='https://fonts.googleapis.com/css?family=Raleway:100,900' rel='stylesheet' type='text/css'>

<!-- CSS -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

<!-- favicon -->
<link rel="icon" type="image/png" href="images/favicon.png">

<!-- javascripts -->
<script type="text/javascript" src="js/instafeed.min.js"></script>
<!--<script type="text/javascript" src="js/main.js"></script>-->

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'awesome',
        clientId: ' d1bc2500377043ea9565c4b98b98f485'
    });
    feed.run();
</script>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
<script src="/static/imagesloaded.pkgd.min.js"></script>

</head>

<!-- OLD css:
<style>
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.grid { width: 1550px; }
.grid-item, .grid-sizer { width: 310px; height: 310px; }
.float-center {
    z-index: 100;
    position: absolute;
    left: 400;
    top: 300;
    background: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-family: Arial;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}
.float-center a{
    color: white;
}
</style>
</head> -->

<body>

<div class="container">

  <div class="row">
    <div class="twelve columns" style="margin-top: 5%">
      <h1>Bilder på 100 tjejer</h1>
      <p>Som kodar i barcelona.</p>
    </div>
  </div>
</div>

  <div class="row">
  {% for photo in photos['data'] %}
   <div class="twelve columns"><img src="{{ photo['images']['low_resolution']['url'] }}"></div>
  {% endfor %}
  </div>

<!--
<script>
var $grid = $('.grid').imagesLoaded(function() {
    $grid.masonry({
          // set itemSelector so .grid-sizer is not used in layout
          itemSelector: '.grid-item',
          // use element for option
          columnWidth: '.grid-sizer',
          percentPosition: true
        });
});
</script> -->
</body>
</html>
